<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @login_attempt.ip_address %>
</p>

<p>
  <strong>Is successful:</strong>
  <%= @login_attempt.is_successful %>
</p>

<p>
  <strong>User:</strong>
  <%= @login_attempt.user %>
</p>

<%= link_to 'Edit', edit_login_attempt_path(@login_attempt) %> |
<%= link_to 'Back', login_attempts_path %>
