<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attendance.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
